<!-- This file contains the footer for each post
  - different from page footer which is in footer.html partial -->

<footer>
  <p class="meta">
    <span class="byline author vcard">Posted by <span class="fn">{{ with .Site.Params.author }}{{ . }}{{ end }}</span></span>
    <!-- can't put the .Date.Format inside the datetime attribute because of double quotes, so it's outside -->
    <time>{{ .Date.Format "Jan 2, 2006" }}</time>
    {{ if isset .Params "tags" }}
      <span class="categories">
        Tags:
        <!-- need to convert the tags to lower for the URLs to work -->
          {{ range .Params.tags }}<a class="category" href="{{ "/tags/" | absURL }}{{ . | urlize | lower }}">{{ . }}</a>  {{ end }}
    {{ end }}
    </span>
  </p>

  {{ if .Site.DisqusShortname }}
    {{ if not (eq .Params.comments false) }}
      {{ template "_internal/disqus.html" . }}
    {{ end }}
  {{ end }}
</footer>
