/* Intentionally a descendent instead of child selector. */
blockquote code {
  font-style: normal;
}
section.sidebar-img {
  text-align: center;
}
@media only screen and (max-width: 750px) {
  section.sidebar-img > img {
    width: 48%;
  }
}
div.katex-elt {
  text-align: center;
}
div.katex-elt > blockquote {
  font-size: x-large;
  overflow-x: auto;
  overflow-y: hidden;
}
div.katex-elt > blockquote::-webkit-scrollbar {
  height: .4em;
  background: rgba(0, 0, 0, 0.15);
}
div.katex-elt > blockquote::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
img.latex-img {
  max-width: none;
  border: none;
  vertical-align: middle;
  box-shadow: none;
  -webkit-box-shadow: none;
}
blockquote.latex-img {
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
}
blockquote.latex-img::-webkit-scrollbar {
  height: .5em;
  background: rgba(0, 0, 0, 0.15);
}
blockquote.latex-img::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
h1.entry-title {
  display: inline-block;
}
/*!
 * Font Awesome Free 5.3.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 *
 * This is a "minimal" version needed for "Edit on GitHub" button.
 */
@font-face{font-family:"Font Awesome 5 Brands";font-style:normal;font-weight:normal;src:url(fonts/fa-brands-400.eot);src:url(fonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url(fonts/fa-brands-400.woff2) format("woff2"),url(fonts/fa-brands-400.woff) format("woff"),url(fonts/fa-brands-400.ttf) format("truetype"),url(fonts/fa-brands-400.svg#fontawesome) format("svg")}.fab{font-family:"Font Awesome 5 Brands"}
.fab{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}.fa-github:before{content:"\f09b"}
/* My own modification for Font Awesome. */
a.fab{text-decoration: none; float: right;}
