/* Intentionally a descendent instead of child selector. */
blockquote code {
  font-style: normal;
}
section.sidebar-img {
  text-align: center;
}
@media only screen and (max-width: 750px) {
  section.sidebar-img > img {
    width: 48%;
  }
}
img.latex-img {
  height: auto;
  max-width: 100%;
  border: none;
  vertical-align: middle;
  box-shadow: none;
  -webkit-box-shadow: none;
}
blockquote.latex-img {
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
}
blockquote.latex-img::-webkit-scrollbar {
  height: .5em;
  background: rgba(0, 0, 0, 0.15);
}
blockquote.latex-img::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
